@import "./Post.css";

.postFeed {
    transition: margin-left .5s, margin-right .5s; /* If you want a transition effect */
    width: 100vw;
}

.postList {
    overflow: auto;
    border: blueviolet solid 2px;
    padding: 0;
    margin: 0;
}