@import "./Message.css";
@import "./MessageCreate.css";

.msgSidebar {
    height: 100vh; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: rgb(0, 103, 229); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 40px; 
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

.msgInteract {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    flex-flow: column nowrap;
}

.msgNavbar {
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.msgNavbarItem {
    padding: 10px;
    border-radius: 50%;
}

.msgNavbarItem img {
    width: 40px;
}

.msgNavbarItem:hover {
    background-color: rgb(2, 69, 151);
}

.msgNavbarBtn:hover {
    cursor: pointer;
}

.msgList {
    overflow: auto;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    transition: margin-top .5s;
}

