@import "./Message.css";

.msgSidebar {
    border: solid blue 2px;
    display: flex;
    flex-flow: column nowrap;
    height: 100vh; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: green; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

.msgList {
    overflow: auto;
    padding: 0;
}

.msgNavbar {
    border: solid salmon 2px;
}