@import "./Message.css";
@import "./MessageCreate.css";

.msgSidebar {
    border: solid blue 2px;

    height: 100vh; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: green; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 15px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

.msgList {
    overflow: auto;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    transition: margin-top .5s;
}

.msgInteract {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    flex-flow: column nowrap;
}

.msgNavbar {
    border: solid salmon 2px;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}