@import "./navBar/NavBar.css";
@import "./messages/MessageSideBar.css";
@import "./footer/Footer.css";
@import "./postsFeed/PostList.css";
@import "./postsFeed/Profile.css";
@import "./postsFeed/PostCreate.css";
@import "./auth/Authorize.css";
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
* {
    margin: 0;
}

body, button, input, select, textarea {
    color: black;
    font-family: "Comfortaa", Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 2rem;
    font-family: "Patua One", serif;
    letter-spacing: 2px;
}

ul {
    list-style: none;
}

#logo {
    cursor: pointer;
}

.mainPage {
    display: flex;
}

.beta {
    background-color: #192428;
}